<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Store home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <%- include('../partials/navbar') %>
        <h1>Bienvenido</h1>
        <h2>PID: <%= env.PID %></h2>
        <h2>PLATAFORM: <%= env.PLATAFORM %></h2>
        <h2>PATH: <%= env.PATH %></h2>
        <h2>PID: <%= env.PID %></h2>
        <h2>PID: <%= env.PID %></h2>
        <h3>ETC,ETC</h3>
    </div>
</body>

</html>
